body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #78c0e0; /* Fallback background color */
}

#gameCanvas {
    display: block; /* Prevent scrollbars and extra margin */
    background-image: url('https://media.istockphoto.com/id/981726654/vector/underwater-landscape-game-background.jpg?s=612x612&w=0&k=20&c=-kQavWXCeUIonsSEB5NCkNs5ddmtcp2i8SsFH8Uw0w4=');
    background-size: cover;
    background-position: center;
}