body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 1024px;
    height: 512px;
}

canvas {
    display: block;
    background: url('https://media.istockphoto.com/id/981726654/vector/underwater-landscape-game-background.jpg?s=612x612&w=0&k=20&c=-kQavWXCeUIonsSEB5NCkNs5ddmtcp2i8SsFH8Uw0w4=') no-repeat center;
    background-size: cover;
    border: 2px solid white;
}